
#content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#messages, #console {
	height: 150px;
	overflow: auto;
	padding: 20px;
	background-color: #eee;
	margin-bottom: 1em;
	margin-right: 10px;
}

#messages {
	height: 400px;
}

.mainControl {
	display: flex;
	justify-content: space-between;
}

.control {
	display: flex;
	width: 40%;
	justify-content: space-between;
}

.box {	
	border: solid thin black;
	background-color: #ddd;
	margin-bottom: 20px;
	margin-right: 440px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#right_bar {
	float: right;
	width: 400px;
	background-color: yellow;
	margin-right: 0px;
}

