
#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.box {	
	border: solid thin black;
	background-color: #ddd;
	margin-bottom: 20px;
	margin-right: 440px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#right_bar {
	float: right;
	width: 400px;
	background-color: yellow;
	margin-right: 0px;
}
